form{
    background-color: red;
    width: 30%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #ccc;
    margin-left: 500px;
    margin-top: 15%;
}
h3{
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-top: 50px;
}
.confirmation{
    display: flex;
    flex-direction: row;
    gap:30px;
    margin-left: 90px;
    margin-top: 40px;
}
button{
    padding: 12px 8px;
    width:120px;
    /* color: #fff; */
    /* box-shadow: 5px 5px 5px #ccc; */
}
.deleteno button{
        background-color:lawngreen;
}
.deleteyes button{
    background-color:rgb(237, 13, 13);
}